<p id="notice"><%= notice %></p>

<% visibility = 1 + rand(2) %>

<% @paragraphbuilder.each do |paragraph| %>
<p>
<% word = paragraph.split(" ") %>
    <% word.each do |foo| %><% if visibility == 1 %><span class = "redacted"><%=foo %>&nbsp;</span><% else %><span class = "visible"><%=foo %>&nbsp;</span><% end %><% if foo.split('').last == "." %><% visibility = 1 + rand(2) %><% end %><% end %>
</p>
<% end %>

<br />
<br />