<table class="table">
    <thead>
        <tr>
            <th>#</th>
        <tr>
    </thead>
<tbody>
    <% @sms.each do |message| %>
    <tr>
        <td><%= message.sid %></td
    </tr>
    <% end %>
</tbody>
</table>